# python
venv*/
__pycache__/
*.pyc

# Packages
*.egg
*.eggs
*.egg-info
dist
build
eggs
parts
#bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Test and Coverage
.coverage
htmlcov/
.tox

node_modules/

.vscode/